ul {
    background-color:mediumturquoise;
    width: 200px;
    height: 270px;
}

.e {
    background-color:rgb(13, 121, 148);
}

li {
    list-style-type: none;
}
 
span {
color: crimson;
}

.line {
    color: black;
    text-decoration: line-through;
}